@model int


<td style="width:200px">
    <div class="btn-group" role="group">

    <a asp-action="Edit" class="btn btn-success" asp-route-Id="@Model"><i class="fas fa-edit"></i></a>
    <a asp-action="Details" class="btn btn-info" asp-route-Id="@Model"><i class="fas fa-list"></i></a>
    <a asp-action="Delete" class="btn btn-danger" asp-route-Id="@Model" onclick="return (confirm('Are you sure to Delete ?'))"> <i class="far fa-trash-alt"></i></a>
 
    </div>
</td>